*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background: #FFFEFC;
}

img {
    vertical-align: middle;
}

.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.w-100 {
    width: 100% !important;
}

.h-90vh {
    height: 80vh;
}

.my-container {
    width: 450px;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}